PORT=5000
MONGODB_URI=mongodb://localhost:27017/nisgs
JWT_SECRET=nisgs_oau_surveying_jwt_secret_2024
ADMIN_PASSWORD=6747587
RESEND_API_KEY=your_resend_api_key_here
FROM_EMAIL=noreply@nisgs.oau.edu.ng
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
